.btn {
  border-radius: 16px;
  background: #db2a6b;
  box-shadow: 0px 24px 100px rgba(0, 0, 0, 0.1);
  border: none;
  font-family: Poppins;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
}
