.hero__container {
  .hero__details {
    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 16px;
      font-family: Poppins;
      font-weight: normal;
      line-height: 25px;
      text-align: left;
      color: #2b2d38;
      opacity: 0.5;
    }
  }
}
