@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;

  .header__menu {
    margin-left: 20px;
    width: 25px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px auto 0 auto;

    .header__nav__link__container {
      display: flex;
      justify-content: center;
      flex: 2;
      .header__nav__link {
        color: #2b2d38;
        margin: 0 0 0 48px;
        font-size: 1.125rem;
      }
    }

    .header__logo h1 {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 2rem;
      text-align: left;
      color: #2b2d38;
    }
    .header__btn__group {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .auth__btn__signIn {
    color: #db2a6b;
    background-color: #fff;
    border: 1px solid #db2a6b;
    border-radius: 8px;
    font-size: 1.125rem;
    padding: 5px 10px;
    margin-left: 32px;
    box-shadow: 0px 24px 100px rgba(0, 0, 0, 0.1);
  }

  .auth__btn__signUp {
    color: #2b2d38;
    font-size: 1.125rem;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .header__nav__link {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header__menu {
    display: none;
  }
}
