@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;

  .header__menu {
    margin-left: 20px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px auto 0 auto;

    .header__nav__link {
      color: #2b2d38;
      margin: 0 0 0 48px;
      display: none;
    }
    .header__logo {
      font-family: "Merriweather", serif;
      font-weight: bold;
      font-size: 12px;
      text-align: left;
      color: #2b2d38;
    }
    .header__btn__group {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }

  .auth__btn__signIn {
    color: #db2a6b;
    background-color: #fff;
    border: 1px solid #db2a6b;
    border-radius: 16px;
    font-size: 12px;
    box-shadow: 0px 24px 100px rgba(0, 0, 0, 0.1);
  }

  .auth__btn__signUp {
    font-size: 12px;
    color: #2b2d38;
  }

  .header__details h1 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 80px;
    text-align: left;
    color: #2b2d38;
  }
  .header__details h3 {
    font-family: Poppins;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    color: #2b2d38;
    opacity: 0.5;
  }
  .header__ornament {
    width: 100%;
    height: 529px;
  }
}
